
/* Always set the map height explicitly to define the size of the div
     * element that contains the map. */
#map {
    height:100%;
    width:72%;
    position: absolute;
    left: 362px;
    

}
/* Optional: Makes the sample page fill the window. */
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

.menu  {
    position: absolute;
    bottom:100px;
}
#options-box
{
             /* background: aquamarine;*/
    //border: 1px solid #999;
    -webkit-border-radius: 3px;
    -moz-border-radius:3px ;
    border-radius: 3px;
    height: 100%;
    line-height: 35px;
    padding:10px 10px 30px 10px;
    text-align: left;
    width: 340px;
} 
#toggle-drawings
{
	width:100%;
	position:relative;
	margin:0;
}
/*#map-canvas {
    height: 100%;
    margin: 0px;
    padding: 0px
}*/
